@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.background{
    background-image: url("/IMG/space.jpg");
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar h1, .navbar a{
    left: 10%;
    text-decoration: none;
    color: #D2D7DF;
}

.navbar ul{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0 10px;
}
a:hover{
    color: #9CE37D;
}

.bio{
    padding: 5px;
}
.bio h2{
    color: #D2D7DF;
    padding: 5px;
    position: relative;
    left: 6%
}

.bio p{
    color: #D2D7DF;
    width: 700px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 5%;
}
.bio a{
    color: #D2D7DF;
    width: 600px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    /*.background{*/
    /*    left: 50%;*/
    /*    margin-left: -512px;*/
    /*}*/
}
@media only screen and (max-width: 400px) {
    /*  phone  */
    article p{
    color: #D2D7DF;
    width: auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    }

    .title li{
        position: relative;
        padding: 5px;
        display: flex;
        flex-direction: row;
    }
}