@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.background{
    background-color: #000017;
    background-image: url("../IMG/space.jpg");
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar h1, .navbar a{
    left: 10%;
    text-decoration: none;
    color: #D2D7DF;
}

.navbar ul{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0 10px;
}
a:hover{
    color: #48cae4;
}

.bio{
    padding: 5px;
}
.bio h2{
    color: #D2D7DF;
    padding: 5px;
    position: relative;
    left: 4%
}

.bio p{
    color: #D2D7DF;
    width: 700px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 2%;
}
.bio a{
    color: #D2D7DF;
    width: 600px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.bio a:hover{
    color: #48cae4;
}
.planets{
    width: 150px;
    height: auto;
    background-color: green;
}

@media only screen and (max-width: 1180px) {
    .background{
        object-fit: none;
    }
}
@media only screen and (max-width: 700px) {
    /*  phone  */
    .bio{
        padding: 2px
    }
    .bio p{
    color: #D2D7DF;
    width: auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    }

    .navbar li{
        position: relative;
        padding: 5px;
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 400px) {
    /*  phone  */
    .bio p{
    color: #D2D7DF;
    width: auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    }

    .navbar li{
        position: relative;
        padding: 5px;
        display: flex;
        flex-direction: row;
    }
}