@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    display: flex;
    flex-direction: column;
    background-color: #858786;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-image: url("/IMG/black.jpg");
    background-size: cover;
    min-height: 100%;
}
.title h1, .title a{
    text-decoration: none;
    color: #D2D7DF;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0 10px;
}
a:hover{
    color: #9CE37D;
}

p, a{
    color: #120309;
    width: 600px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

@media only screen and (min-width: 1000px) {
    /*  large desktop  */
}
@media only screen and (max-width: 400px) {
    /*  phone  */
    .navbar li{
        padding: 5px;
        display: flex;
        flex-direction: row;
    }
}