html, body {
  margin: 0;
  background-color: black;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  left: 5px;

  color: white;
  text-shadow: 0 0 4px white;
}
.Ball{
  font-size: 1rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 80px;
  left: 5px;

  color: white;
  text-shadow: 0 0 3px white;
}
.Speed{
  font-size: 1rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 100px;
  left: 5px;

  color: white;
  text-shadow: 0 0 3px white;
}
.speed-button {
    font-size: 1rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 50px;
    left: 80px;

    color: white;
    background-color: #1F51FF;
    text-shadow: 0 0 1px white;
}
.ball-button{
    font-size: 1rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 50px;
    left: 10px;

    color: white;
    background-color: #1F51FF;
    text-shadow: 0 0 1px white;
}